/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto Slab', 'Roboto', 'sans-serif';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
header div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 3rem;
}
header div.header div.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  header div.header div.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
header div.header div.logo img {
  width: 5rem;
  height: 4rem;
}
@media (max-width: 500px) {
  header div.header div.logo img {
    display: none;
  }
}
header div.header div.logo div.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  text-align: center;
}
header div.header div.logo div.logo-text h1 {
  font-size: 3.5rem;
  color: #2196F3;
  font-weight: 700;
}
@media (max-width: 500px) {
  header div.header div.logo div.logo-text h1 {
    margin-bottom: 1rem;
  }
}
header div.header div.logo div.logo-text h2 {
  font-size: 1.7rem;
}
@media (max-width: 500px) {
  header div.header div.logo div.logo-text h2 {
    display: none;
  }
}
@media (max-width: 500px) {
  header div.header div.login-register {
    display: none;
  }
}
header a {
  text-decoration: none;
}
header a.ham-menu {
  display: none;
}
header nav {
  background-color: #0A2738;
  height: 4rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header nav a {
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 2rem;
  text-decoration: none;
}
header nav a.active,
header nav a:hover {
  text-decoration: underline;
}
header nav a:last-child {
  display: none;
}
@media (max-width: 500px) {
  header a.ham-menu {
    display: inline;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }
  header nav a {
    color: #2196F3;
    width: 20rem;
    background-color: #FFFFFF;
    border: 1px solid #2196F3;
  }
  header nav a:last-child {
    display: inline-block;
  }
}
h1.title {
  display: none;
}
@media (max-width: 500px) {
  h1.title {
    display: block;
    text-align: center;
  }
}
section.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 5rem auto;
}
@media (max-width: 500px) {
  section.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  section.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 500px) {
  section.main .bp {
    margin: 0;
    width: 100%;
  }
  section.main .bp h1 {
    display: none;
  }
}
section.main .bp img {
  max-width: 47rem;
  object-fit: contain;
}
@media (max-width: 500px) {
  section.main .bp img {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  section.main .bp img {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  section.main .bp img {
    max-width: 52rem;
  }
}
@media (max-width: 500px) {
  section.main .bp img {
    max-width: 100%;
  }
}
section.main .content {
  margin-top: 2rem;
  padding-right: 2rem;
  align-items: center;
}
@media (max-width: 500px) {
  section.main .content {
    padding-right: 0;
  }
}
section.main .content h2 {
  font-size: 4.5rem;
  font-weight: 1000;
}
section.main .content p {
  font-size: 1.9rem;
}
section.main .log-sign {
  margin-top: 8rem;
}
section.main .log-sign a {
  display: block;
  width: 80%;
  margin: auto;
  color: #2196F3;
  text-decoration: none;
  text-align: center;
  border-radius: 0.6rem;
  border: 1px solid #2196F3;
  font-family: 'Roboto Slab';
  font-size: 2.5rem;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  section.main .log-sign a {
    margin: 2rem auto;
  }
}
section.main .log-sign a.sign-up {
  background-color: #2196F3;
  color: #FFFFFF;
}
section.main-reviews h2 {
  text-align: center;
  margin: 2rem;
}
section.main-reviews section.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
@media (max-width: 500px) {
  section.main-reviews section.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  section.main-reviews section.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
section.main-reviews section.reviews h4 {
  font-size: 2rem;
  font-weight: bold;
}
section.main-reviews section.reviews section.review {
  padding: 2rem;
  max-width: 45rem;
}
section.main-reviews section.reviews section.review div.customer-info {
  margin-bottom: 2rem;
}
section.main-reviews section.reviews section.review div.customer-info div.name-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
section.main-reviews section.reviews section.review div.customer-info div.name-rating span.rating {
  padding-left: 5rem;
  color: #2196F3;
}
section.main-reviews section.reviews section.review div.customer-info div.name-rating span.rating i {
  padding-right: 0.5rem;
}
section.about {
  text-align: center;
}
section.about h4 {
  font-size: 2rem;
  font-weight: bold;
}
section.about p {
  width: 90%;
  margin: auto;
  line-height: 3rem;
}
